{% extends "base.html" %}
{% load static %}
{% block main_block %}
<div class="container">
    <div class="row">
        <div class="profile_display">
            <div class="user_img">
                <img style="width: 170px; height: 230px; margin-bottom: 20px;" src="{{ user_obj.avatar.url }}" alt="">
            </div>
            <div class="user_info">
                <p class="user_name">Логин: <b>{{ user_obj.username }}</b></p>
                <p class="user_mail">Email: <b>{{ user_obj.email }}</b></p>
                <p class="user_mail">Мобильный телефон: <b>{{ user_obj.phone_number }}</b></p>
                <p class="user_mail">Роль: <b>{{ user_obj.get_user_role_display }}</b></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}