{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block main_block %}
<div class="container">
    <div class="row">
        <div class="profile_display">
            <div class="user_img">
                <img style="width: 170px; height: 230px; margin-bottom: 20px;" src="{{ user_obj.avatar.url }}" alt="">
            </div>
            <div class="user_info">
                <p class="user_name">Логин: <b>{{ user_obj.username }}</b></p>
                <p class="user_mail">Email: <b>{{ user_obj.email }}</b></p>
                <p class="user_mail">Мобильный телефон: <b>{{ user_obj.phone_number }}</b></p>
                <p class="user_mail">Роль: <b>{{ user_obj.get_user_role_display }}</b></p>
            </div>
            <div class="vacancy__block">

            </div>
            <button id="register_button" class="btn head-btn1">Редактировать</button>
            <a class="vacancy_link" href="{% url 'vacancy_create' %}">Создать вакансию</a>
        </div>
    </div>
</div>
<div id="registerModal" class="modal">
    <div class="modal-content"
         style="background-color: white; margin: 10% auto; padding: 20px; width: 80%; border: 1px solid#888">
        <div>
            <h4 class="register_title">Редактировать профиль<span id="modalRegisterClose"
                                                                  class="close">&times;</span>
            </h4>
            <form action="{% url 'user_update' user_obj.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <form action="{{ action_url }}" method="{{ form_method }}" enctype="{{ enctype }}">
                    {% csrf_token %}
                    {% bootstrap_form change_form %}
                    {% bootstrap_button button_type="submit" content='Изменить' %}
                </form>
            </form>
        </div>
    </div>
</div>
{% endblock %}
