{% extends "base.html" %}
{% load static %}
{% block main_block %}

<div class="container box_1170 mt-5 mb-200">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ user_obj.avatar.url }}" alt="" class="rounded-circle img-fluid">
        </div>
        <div class="col-md-9 mt-sm-20">
            <div class="user_info">
                <p class="user_name">Логин: <b>{{ user_obj.username }}</b></p>
                <p class="user_mail">Email: <b>{{ user_obj.email }}</b></p>
                <p class="user_mail">Мобильный телефон: <b>{{ user_obj.phone_number }}</b></p>
                <p class="user_mail">Роль: <b>{{ user_obj.get_user_role_display }}</b></p>
                <a href="{% url 'add_resume' %}" class="genric-btn primary circle">Добавить резюме</a>
                <a href="#" class="genric-btn info circle">Редактировать профиль</a>
            </div>
        </div>
    </div>
    <div class="section-top-border mt-5">
        <h3 class="mb-30">Мои резюме</h3>
        <div class="row">
            {% for resume in resumes %}
            <div class="col-md-4 mt-3">
                <div class="single-defination">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{resume.category}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Желаемая зп {{resume.salary}}</h6>
<!--                            <p class="card-text">Some quick example text to build on the card title and make up the bulk-->
<!--                                of the card's content.</p>-->
<!--                            <a href="#" class="card-link">Card link</a>-->
<!--                            <a href="#" class="card-link">Another link</a>-->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</div>

{% endblock %}